<?xml version="1.0"?>
<phpunit bootstrap="bootstrap.php" backupStaticAttributes="false" colors="true">
    <testsuites>
        <testsuite name="Mollie OpenCart">
            <directory>.</directory>
        </testsuite>
    </testsuites>
    <logging>
        <log type="junit" target="../build/logs/junit-unittests.xml" logIncompleteSkipped="false"/>
        <log type="coverage-html" target="../build/coverage" charset="UTF-8"
             yui="true" highlight="true"
             lowUpperBound="35" highLowerBound="70"/>
        <log type="coverage-clover" target="../build/clover/clover-unittests.xml"/>
    </logging>
    <filter>
        <blacklist>
            <directory>/usr/share/php</directory>
            <directory>.</directory>
            <directory>../admin/language</directory>
            <directory>../catalog/language</directory>
            <directory>../catalog/controller/payment/mollie-api-client</directory>
        </blacklist>
        <whitelist addUncoveredFilesFromWhitelist="true">
            <directory>../admin</directory>
            <directory>../catalog</directory>
        </whitelist>
    </filter>
</phpunit>
