{% if 'mollie_payment_link' in payment_code %}
    <label for="input-mollie-payment-link" class="col-sm-2 col-form-label">{{ entry_mollie_payment_link }}</label>
    <div class="col-sm-10">
    <div class="form-check form-switch form-switch-lg">
        <input type="hidden" name="mollie_payment_link" value="0"/>
        <input type="checkbox" name="mollie_payment_link" value="1" id="input-mollie-payment-link" class="form-check-input"/>
    </div>
    </div>
</div>
<div class="row mb-3">
{% endif %}